/* ---- SCSS FOR COLORS ----- */

$ltorange: #ffa500;
$orange: #f87d22;
$black: #2c2b2a;
$ltgrey: #9d9d9d;

$error_color: orangered;
$text-color: #fff;
$invite_color: $orange;
$bg_color: $black;
$footer_text_color: $ltgrey;


/* ---- SCSS FOR FONT FAMILY ----- */
$default_font_style: 'Tempus Sans ITC', sans-serif;


/* ---- SCSS GUTTER ----- */
$gutter: 5%;
