/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- SCSS FOR COLORS ----- */
/* ---- SCSS FOR FONT FAMILY ----- */
/* ---- SCSS GUTTER ----- */
/*Mixins*/
/*Media Query Mixins */
.view {
  border: 5px solid #f87d22;
  overflow: hidden;
  position: relative;
  text-align: center;
  /*@include box-shadow(1px 1px 2px #e6e6e6);*/
  cursor: default;
  /*background: #fff url("bgimg.jpg") no-repeat center center; */
  width: 250px;
  height: 250px;
  margin: 5% auto;
}

.view .mask, .view .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.view h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 1.2em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 0.9em;
  line-height: 110%;
  position: relative;
  padding: 10px 20px 20px;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .view {
    width: 190px;
    height: 190px;
  }
  .view h2 {
    font-size: 1em;
  }
  .view p {
    display: none;
  }
  .view a.info {
    margin-top: 50px;
  }
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 10px 14px;
  background: #2c2b2a;
  color: #fff;
  text-transform: uppercase;
  -moz-box-shadow: 0 0 1px #000;
  -webkit-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
}

.view a.info:hover {
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.view-first img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.view-first .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: rgba(248, 125, 34, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.view-first p {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.view-first a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.view-first:hover h2, .view-first:hover p, .view-first:hover a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.view-first:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.view-first:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.view-first:hover p {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
}

.view-first:hover a.info {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

/*end of .view-first*/
/*-----BODY -----*/
body {
  padding-top: 150px;
  font-family: "Tempus Sans ITC", sans-serif;
  color: #fff;
  font-size: 1em;
  position: relative;
  background: #2c2b2a url("../images/body_bg.jpg") center center fixed;
}

/*HEADER*/
.navbar {
  margin-bottom: 0px;
  padding: 15px 15px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.nav {
  padding-top: 10px;
  font-size: 1.1em;
}

.navbar-toggle {
  margin-top: 30px;
}

@media only screen and (max-width: 540px) {
  .navbar-header {
    position: relative;
  }
  .navbar img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
  }
}

.cbp-af-header-shrink {
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 0.9;
}

/*-----MAIN -----*/
section {
  padding-bottom: 40px;
}

header h1 {
  background-color: #2c2b2a;
  opacity: 0.5;
  margin-bottom: 30px;
  padding: 30px 0px 20px 0px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px black;
  text-align: center;
}

#about h1 {
  display: none;
}

#about p {
  font-size: 1.2em;
  line-height: 130%;
}

#about img {
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#about .invite {
  font-weight: bold;
  font-size: 1.4em;
}

@media only screen and (max-width: 767px) {
  #about p {
    text-align: center;
  }
}

.portfolio-item {
  margin: 0 40px 0 40px;
}

.img-thumbnail {
  margin: 0px auto;
  border-color: #f87d22;
  /*box-shadow: rgba(0,0,0,0.5) 10px 10px 50px;*/
}

.img-responsive {
  margin: 0px auto;
}

/*CONTACT*/
/*Form*/
form {
  max-width: 500px;
  margin: 0px auto;
}

form .btn {
  margin: 10px 0 10px 0;
  padding: 5px 40px;
}

form .btn.focus, form .btn:focus, form .btn:hover, form .btn.active, form .btn:active, form .btn:active:focus {
  outline: 0;
}

.form-control {
  -moz-box-shadow: 2px 2px 10px #000000;
  -webkit-box-shadow: 2px 2px 10px #000000;
  box-shadow: 2px 2px 10px #000000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.form-control:focus {
  border-color: #f87d22;
}

.has-error .control-label,
.has-error .help-block,
.has-error .radio {
  color: orangered;
}

/*Socialize*/
.btn-short {
  opacity: 0.7;
  -moz-box-shadow: 2px 2px 5px #000000;
  -webkit-box-shadow: 2px 2px 5px #000000;
  box-shadow: 2px 2px 5px #000000;
  max-width: 500px;
  margin: 20px auto;
}

/*QUOTES*/
/*CSS for Quotes app*/
#random-quotes {
  margin: 5px;
  border: 5px solid #f87d22;
  overflow: hidden;
  min-height: 256px;
}

#random-quotes h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 1.2em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}

#random-quotes p {
  padding-right: 0px 10px;
  text-align: center;
  font-size: 1em;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
}

#random-quotes footer {
  padding-left: 10px;
}

#random-quotes .btn-default {
  margin: 5px 5px 10px 5px;
  font-size: 14px;
  border: black;
}

#random-quotes .btn-tweet {
  float: right;
}

/*FOOTER*/
footer {
  clear: both;
  font-size: .8em;
  text-align: center;
  padding: 2em 0 .6em 0;
  color: #9d9d9d;
  background-color: #2c2b2a;
  font-weight: bold;
}

/*----- OTHER -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
