body{
  padding-top: 80px;
  font-family: Tempus Sans ITC;
  position: relative;
  /*background: url("images/body_bg.jpg") center center cover fixed;
*/
}

.container-fluid{
  padding: 0px;
}

.row{
  margin: 0px;
}

.fixed-attachment{
  
}

.img-thumbnail{
  margin: 0px auto;
  border-color: #F87D22;
  /*box-shadow: rgba(0,0,0,0.5) 10px 10px 50px;*/
}
.img-responsive{
  margin: 0px auto;
}

header h2{
  color: #FFFFFF;
  background-color: #2C2B2A;
  opacity: 0.5;
  padding:30px 0px 20px 0px;
  font-weight: bold;
  text-shadow:  2px 2px rgb(0,0,0)
}

.fill-screen{
  background-size: cover;
  background-position: center;  
}
.fill-view{
  background-size: cover;
  background-position: center;  
}
.fixed-attachment{
background-image: url("images/body_bg.jpg");
  background-attachment: fixed;
}
.navbar{
  margin-bottom: 0px;
  padding: 15px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.2s;
}

.nav {
    padding-top: 10px;
    font-size: 18px;
    color: #2C2B2A;
}

.navbar-toggle{
  margin-top: 30px;
}


@media (max-width: 540px){
  .navbar-header{
    position: relative;
  }
  
  .navbar img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
  }
}

.cbp-af-header-shrink{
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 0.9;
}

#about{
  color: grey;
}

#about p{
  color: #FFFFFF;
  font-size: 18px;
}
 
 @media(max-width: 767px){
#about p{
    text-align: center;
  }
}

#about h2{
  opacity: 0;
}

#eye-img{
  box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}

.repeat-text{
  position: relative;
}

#repeat-img{
  position: absolute;
  bottom: 120px;
  display: none;
}

@media (min-width: 1024px){
  #repeat-img{
    bottom: 95px;
    visibility: hidden;
  }
}


#portfolio{
  margin-left: 40px;
  margin-right: 40px;
}
.invite{
  font-weight: bold;
  font-size: 28px;
  color: orange;
}


/*@media(max-width:1024px){
  .fixed-attachment{
  background-attachment: scroll;
  }
}
*/

label{
  color: #FFFFFF;
}

form .btn{
  margin: 10px 0 10px 0;
  padding: 5px 40px;
}

.form-control {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #000000;
    border-radius: 3px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.socialize{
  padding-top: 60px;
}

.btn-short{
  margin: 20px 0;
  background-color: #F87D22;
  opacity: 0.7;
  box-shadow: #000000 2px 2px 5px;
}

@media(max-width:1024px) and (min-width: 767px){
.btn-short{
    margin-left: 100px;
    width: 150px;
  }
  #img-contact{
    margin-left:30px;
    margin-top:60px;
  }
}

#contact h2{
  color: #F87D22;
  background-color: #2C2B2A;
}

#random-quotes main{
  margin: 30px auto; 
  text-align: center;   
}

#random-quotes blockquote{
  font-size: 14px;
}

#random-quotes .panel{
  /*width: 50%;*/
  margin: 50px auto;
  padding: 30px 0px 0px 0px;  
}

#random-quotes .panel-body{
  min-height: 150px;   
}

#random-quotes .panel-footer{
margin-bottom: 5px; 
}

#random-quotes .btn-default{
margin-top: 5px;
font-size: 14px; 
}

footer{
  color: #9D9D9D;
  background-color: #2C2B2A;
}


